<div class="row">
  <div class="col-md-6">
    <%= form_for wiki do |f| %>
      <% if wiki.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
          <ul>
            <% wiki.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= form_group_tag(wiki.errors[:title]) do %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      <% end %>
      
      <%= form_group_tag(wiki.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body using markdown syntax" %>
      <% end %>
      
      <% if current_user.premium? || current_user.admin? %>
        <div class="form-check">
          <%= f.label :private, class: 'form-check-label' do %>
            <%= f.check_box :private, class: "form-check-input" %> Private Wiki
          <% end %>
        </div>
      <% end %>
        
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div> <!--end of div class='col-md-6' -->
      
  <div class="col-md-6">
    <h4>Collaborators</h3>
    
    <% if wiki.private %>
    
      <% if wiki.collaborating_users.present? %> <!--#list the current collaborating_users for a the current wiki(if private) - "Remove" checkbox to remove collaborator-->
        <%= form_tag remove_collaborators_wiki_path(@wiki), :method => :put do %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Remove?</th>
              </tr>
            </thead>
            <tbody>
              <% @collaborators.each do |collaborator| %>
                <tr>
                  <td><%= collaborator.email %></td>
                  <td><%= check_box_tag "collaborator_ids[]", collaborator.id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= submit_tag "Remove Collaborators" %>
        <% end %>
      <% else %>
        <p>No current collaborators. To add collaborators choose from the list below.</p>
      <% end %>
      
      <br>
      <p>Add Collaborators:</p>
        <%= form_tag add_collaborators_wiki_path, :method => :put do %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>User</th>
                <th>Add?</th>
              </tr>
            </thead>
            <tbody> 
              <% @new_collaborators.each do |new_collaborator| %>
                <tr>
                  <td><%= new_collaborator.email %></td>
                  <td><%= check_box_tag "new_collaborator_ids[]", new_collaborator.id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= submit_tag "Add Collaborators" %>
        <% end %>
    
    <% else %>
      <p>Wiki must be private to add collaborators. Check <em>Private Wiki</em> and save before adding collaborators.</p>
    <% end %>
  </div>
</div>