<h1>My Wikis</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if @my_wikis.size != 0 %>
        <table class="table table-bordered">
          <tbody>
            <% @my_wikis.each do |wiki| %>
              <tr>
                <td><%= link_to wiki.title, wiki %></td>
                <td class="text-center"><%= wiki.private ? 'Private' : 'Public' %></td>
                <td class="text-center"><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
                <td class="text-center"><%= link_to 'Delete', wiki, method: :delete, data: {confirm: 'Are you sure you want to delete this wiki?'} %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h4>You have not created any wikis yet. Click on New Wiki to get started.</h4><br>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>

<% if @user.premium? %>
  <h1>My Collaborating Wikis</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <% if @collaborating_wikis.present? %>
          <table class="table table-bordered">
            <tbody>
              <% @collaborating_wikis.each do |wiki| %>
                <tr>
                  <td><%= link_to wiki.title, wiki %></td>
                  <td class="text-center"><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h4>You are not a collaborator on any wikis yet.</h4>
        <% end %>
      </div>
    </div>
  </div>
<% end %>